@model IEnumerable<WebApplication3.Models.Game>

@{
    ViewData["Title"] = "Trend";
}


<script src="~/js/site.js"></script>


<h1>Trend</h1>
<br />
<br />

<div class="container-fluid">
    <div class="row">
        <h3>Field Goals</h3>
        <canvas id="Graph1">
        </canvas>
    </div>
</div>
<br />
<br />

<div class="container-fluid">
    <div class="row">
        <H3>2 Point Shots</H3>
        <canvas id="Graph2">
        </canvas>
    </div>
</div>

<br />
<br />

<div class="container-fluid">
    <div class="row">
        <h3>3 Point Shots</h3>
        <canvas id="Graph3">
        </canvas>
    </div>
</div>


<br />
<br />

<div class="container-fluid">
    <div class="row">
        <h3>Free Throw</h3>
        <canvas id="Graph4">
        </canvas>
    </div>
</div>

<br />
<br />

<div class="container-fluid">
    <div class="row">
        <h3>Rebound</h3>
        <canvas id="Graph5">
        </canvas>
    </div>
</div>



<br />
<br />

<div class="container-fluid">
    <div class="row">
        <h3>Assist and Turnover</h3>
        <canvas id="Graph6">
        </canvas>
    </div>
</div>

<br />
<br />

<div class="container-fluid">
    <div class="row">
        <h3>Steals</h3>
        <canvas id="Graph7">
        </canvas>
    </div>
</div>

<br />
<br />

<div class="container-fluid">
    <div class="row">
        <h3>Points</h3>
        <canvas id="Graph8">
        </canvas>
    </div>
</div>