@{
    ViewData["Title"] = "Home Page";
}


    <div class="bg">
        <div class="centered">
            <h1>
                Welcome to Stats.Now
            </h1>
            <h4 style="text-indent: 40px"> Graphing the numbers</h4>
        </div>
    </div>